/* style.css */
:root {
    --bg-dark: #1a1a1a;
    --panel-bg: #2d2d2d;
    --header-bg: #3c3c3c;
    --editor-bg: #1e1e1e;
    --text-color: #d4d4d4;
    --success: #28a745;
    --info: #17a2b8;
    --error: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: var(--bg-dark);
    color: white;
    height: 100vh;
    display: flex;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    height: calc(100vh - 60px);
}

.screen-simulator,
.code-editor {
    border-radius: 8px;
    overflow: hidden;
    background: #0e0b0b;
    display: flex;
    flex-direction: column;
}

.screen-simulator {
    flex: 0 1 52%;

}

.brain-container {
    position: relative;
    top: 0;
    left: 0;
    width: 710px;
    height: 510px;
    /* width: 1650px;
    height: 1187px; */
    background: url('./assets/brain.png') center/cover;
}

#screenCanvas {
    position: relative;
    left: 84px;
    top: 156px;
    width: 480px;
    height: 240px;
    background: #000000;
    /* image-rendering: crisp-edges; */
}

.code-editor {
    flex: 1;
}

.editor-header {
    background: var(--header-bg);
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
}

#codeInput {
    flex: 1;
    padding: 1rem;
    background: var(--editor-bg);
    color: var(--text-color);
    border: none;
    resize: none;
    font-family: 'Consolas', monospace;
    font-size: 14px;
}

.btn {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 8px;
}

.run-btn {
    background: var(--success);
}

.reset-btn {
    background: var(--info);
}

.run-btn:hover {
    background: #218838;
}

.reset-btn:hover {
    background: #138496;
}

.error-output {
    background: rgba(14, 13, 13, 0.3);
    color: #ffcccc;
    padding: 0.5rem;
    display: none;
}

footer {
    padding: 0.75rem;
    background: var(--header-bg);
}